.register-container { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #A47EFF;

  .illustration-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-container {
      width: 75%; 
      height: 75%; 
      overflow: hidden;
      border-radius: 20px;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 100%; 
        height: auto; 
      }
    }
  }

  .login-form-wrapper {
    width: 40%;
    max-height: 90vh;
    margin: 0 auto;
    background-color: white;
    padding: 1.5rem; 
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; 
    gap: 0.5rem; 
    overflow: hidden; 

    .logo-container {
      display: flex;
      justify-content: center;

      .logo {
        max-width: 100px; 
        height: auto;
      }
    }

    .form-subtitle {
      font-size: 1rem; 
      color: #000000;
      text-align: center;
      margin: 0.2rem 0; 
    }

    .sign-in-button {
      background-color: #D18FFF; 
      color: white;
      border: none;
      padding: 0.5rem 1rem; 
      font-size: 0.9rem; 
      border-radius: 5px; 
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 1rem;

      &:hover {
        background-color: #B07FFF; 
      }
    }

    .form-footer {
      margin-top: 1rem;
      text-align: center;
      color: black;

      a {
        color: #5810ff; 
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .zipcode-input {
      max-width: 150px;
    }
    .phone-input {
      max-width: 195px;
    }

    .address-phone-container {
      display: flex;
      gap: 1rem;
      width: 1rem;

      .input-group {
        flex: 1;
      }
    }
  }
}
